#root{
  background-color: #EAE8FE;
}
.ir{
  position: absolute;
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}
.header-h1{
  margin: 0 auto;
  width: 386px;
  height: 180px;
}
.header-h1 .img-logo{
  width: 100%;
  height: 100%;  
}
/* .main start */
.main-wrapper{
  margin-top: 67px;
  display: flex;
  justify-content: center; 
  gap: 28px;
}
/* 주문 자판기 시작 */
/* 질문: 반응형 만들때 대부분 max-width가 좋은가? */
.order{
  max-width: 360px;
  height: 545px;
  padding: 31px 27px 28px 27px;
  background-color: white;
}
.drink-con{
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
.drink-con .figure-drink{
  width: 94px;
  height: 130px;
  text-align: center;
  padding-top: 11px;
  padding-bottom: 9px;
  border: 3px solid #F1F1F1;
  border-radius: 10px;
  background-color: white;
  margin-bottom: 12px;
  cursor: pointer;
}
.drink-con .selected{
  border: 3px solid #6327FE;
}
.sold-out{
  position: relative;
  overflow: hidden;
}
.sold-out:after{
  position: absolute;
  background-color: rgb(0, 0, 0, .8);
  content: "";
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url('../images/Sold-out.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.figure-drink .img-drink{
  width: 36px;
  height: 64px;
  margin-bottom: 6px;
}
.img-drink-caption p:nth-child(1){
  margin-bottom: 5px;
  font-size: 9px;
}
.img-drink-caption p:nth-child(2){
  font-size: 12px;
  background: #6327FE;
  display: inline-block;
  border-radius: 50px;
  margin: 0 auto;
  padding: 2px 12px;
  color: white;
  line-height: 17px;
  font-weight: bold;
}

.calculate-con{
  display: flex;
  flex-wrap: wrap;
  gap: 11px 12px;
  font-size: 14px;
  font-weight: bold;
}
.calculate-con .balance{
  width: 200px;
  background-color: #EAE8FE;
  display: flex;
  justify-content: space-between;
  padding: 6px 10px;
  border-radius: 5px;
  align-items: center;
}
.calculate-con .btn-cart{
  width: 94px;
  background: #FFFFFF;
  border-radius: 5px;
  padding: 6px 0;
  font-size: 13px;
  font-weight: 500;
  border: 1px solid #F1F1F1;
  box-shadow: 0px 0px 4px rgb(0, 0, 0, 0.25);
}
.calculate-con .input-deposit_amount{
  width: 200px;
  box-sizing: border-box;
  font-size: 13px;
  padding: 6px;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
}
.cart-con{
  margin-top: 11px;
  display: flex;
  height: 106px;
  width: 306px;
  gap: 12px;

}
.ul-drinks{
  width: 100%;
  background-color: #EAE8FE;
  border-radius: 5px;
  padding: 12px;
  overflow-y: scroll;
}

.cart-list-with{
  width: 206px;
}
.ul-drinks .li-drink{
  background-color: #FFFFFF;
  border-radius: 5px;
  padding: 8px;
  display: flex;
  align-items: center;
  margin-bottom: 6px;
  justify-content: space-between;
}
.drink-con{
  display: flex;
  align-items: center;
}
.li-drink .drink-con .img-drink{
  width: 18px;
  height: 33px;
}
.ul-drinks .li-drink .p-name{
  font-size: 9px;
  font-weight: 500;
}
.ul-drinks .li-drink .span-count{
  border: 1px solid #bdbdbd;
  font-size: 14px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-weight: 500;
}
.cart-con .btn-get{
  background-color: #6327FE;
  border: 1px solid ;
  box-shadow: 0px 0px 4px rgb(0, 0, 0, 0.25);
  color: white;
  width: 94px;
  border-radius: 5px;
  font-weight: 700; 
  font-size: 13px;
}



/* 주문 자판기 끝 */

/* 주문 완료 시작 */
.complete-con{
  width: 365px;
}
.section-money-con{
  width: 100%;  
  background-color: white;
  padding: 9px 27px;
}
.section-money-con .p-money{
  background-color: #EAE8FE;
  display: flex;
  justify-content: space-between;
  padding: 6px 10px;
  border-radius: 5px;
  align-items: center;
}
.section-money-con .p-money span:nth-child(2){
  font-weight: 700;
  font-size: 14px;
}
.section-get-drink{
  width: 100%;
  background-color: white;
  margin-top: 20px;
  padding: 25px 27px 30px;
}
.section-get-drink .h3-get-drink{
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 13px;
}
.get-drink-height{
  height: 364px;
}
.total-moeny{
  display: block;
  text-align: end;
  margin-top: 12px;
  font-weight: 500;
  font-size: 12px;
}

/* 주문 완료 끝 */

/* 반응형 */

@media screen and (max-width:768px) {
  #root{
    /* background-color: white; */
  }
  .main-wrapper {
      align-items: center;
      flex-direction: column;
      /* margin-top: 0; */
      /* gap: 0; */
  }
}